html {
	font-family: 'Nunito' !important;
	/*background-color: #f9dbe4 !important;*/
	/*background-color: #dbfffd !important;*/
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    /*background: linear-gradient(180deg, #3d0000, #f44242);*/
    background-color: #f71839;
}
body {
	background: transparent !important;
}

.search-bar {
	margin: 20px;
	text-align: center;
}

.search-bar .sb-title {
	margin-top: 10px;
	padding-right: 18px;
	font-size: 25px;
	font-weight: bold;
}

.sb-title {
	color: white !important;
	text-shadow: 4px 4px 4px #a52b3d;
}

.search-bar input {
	width: 60%;
	border: 1px solid #ddd;
	border-radius: 3px;
	/*background-color: #ffeff3 !important;*/
	background-color: white !important;
}

.video-item img {
	max-width: 64px;
}

.top25 {
	color: white !important;
	text-shadow: 4px 4px 4px #a52b3d;
	padding-left: 10px;
}

iframe {
	padding-top: 8px;
	border-radius: 5px;
}

.video-detail {
	padding-top: 10px;
	border-radius: 6px;
	background-color: white;
	margin-right: 10px;
	margin-left: 10px !important;
}

.video-detail .details {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px;
	background-color: white !important;
	border-radius: 6px;
}

#video-title {
	font-weight: bold;
	font-size: 18px;
}

#video-desc {
	font-size: 13px;
}

.list-group {
	margin-left: 10px !important;
	font-size: 14px;
}

.list-group-item {
	cursor: pointer;
	background-color: white !important;
}

.list-group-item:hover {
	background-color: #eee;
}

.pre-scrollable {
    max-height: 540px !important;
 }